.w-bg{
    width: 100% !important ;
    margin: 0 auto !important;
}
.bg-body{
    width: 100% !important;
    height: 100% !important;
}
.top-navbar{
    @media(min-width: 600px){
        box-shadow: 0 0 50px gray !important;
    }
}